.svg-air-play {
	background: url(svg/sprite.css-5803cdb3.svg) 33.333333333333336% 0 no-repeat;
}

.svg-air-play-dims {
	width: 32px;
	height: 32px;
}

.svg-caret-down {
	background: url(svg/sprite.css-5803cdb3.svg) 33.333333333333336% 66.66666666666667% no-repeat;
}

.svg-caret-down-dims {
	width: 32px;
	height: 32px;
}

.svg-microphone-filled {
	background: url(svg/sprite.css-5803cdb3.svg) 0 33.333333333333336% no-repeat;
}

.svg-microphone-filled-dims {
	width: 32px;
	height: 32px;
}

.svg-plus {
	background: url(svg/sprite.css-5803cdb3.svg) 33.333333333333336% 33.333333333333336% no-repeat;
}

.svg-plus-dims {
	width: 32px;
	height: 32px;
}

.svg-star {
	background: url(svg/sprite.css-5803cdb3.svg) 66.66666666666667% 0 no-repeat;
}

.svg-star-dims {
	width: 32px;
	height: 32px;
}

.svg-stop {
	background: url(svg/sprite.css-5803cdb3.svg) 66.66666666666667% 33.333333333333336% no-repeat;
}

.svg-stop-dims {
	width: 32px;
	height: 32px;
}

.svg-thermometer {
	background: url(svg/sprite.css-5803cdb3.svg) 0 66.66666666666667% no-repeat;
}

.svg-thermometer-dims {
	width: 32px;
	height: 32px;
}

.svg-thumbs-up {
	background: url(svg/sprite.css-5803cdb3.svg) 0 0 no-repeat;
}

.svg-thumbs-up-dims {
	width: 32px;
	height: 32px;
}

.svg-type {
	background: url(svg/sprite.css-5803cdb3.svg) 66.66666666666667% 66.66666666666667% no-repeat;
}

.svg-type-dims {
	width: 32px;
	height: 32px;
}

.svg-umbrella {
	background: url(svg/sprite.css-5803cdb3.svg) 100% 0 no-repeat;
}

.svg-umbrella-dims {
	width: 32px;
	height: 32px;
}

.svg-unlock {
	background: url(svg/sprite.css-5803cdb3.svg) 100% 33.333333333333336% no-repeat;
}

.svg-unlock-dims {
	width: 32px;
	height: 32px;
}

.svg-upload {
	background: url(svg/sprite.css-5803cdb3.svg) 100% 66.66666666666667% no-repeat;
}

.svg-upload-dims {
	width: 32px;
	height: 32px;
}

.svg-video {
	background: url(svg/sprite.css-5803cdb3.svg) 0 100% no-repeat;
}

.svg-video-dims {
	width: 32px;
	height: 32px;
}

.svg-volume {
	background: url(svg/sprite.css-5803cdb3.svg) 33.333333333333336% 100% no-repeat;
}

.svg-volume-dims {
	width: 32px;
	height: 32px;
}

